body {
  height: 100vh;
  background: linear-gradient(to top, #00101f, #002850);
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
